body
{
	background-image : url("downloads.png");
}
h3
{
	font-family:monospace;
	font-size:20px;
}
.firstdiv
{
	font-color:blue;
}
form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC

#button
{
  padding:10px
}
label {
  cursor:pointer
}

